# Copyright (c) 2019 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0

#config USB_DEVICE_PID
#	default USB_PID_CONSOLE_SAMPLE

#baswi enable sensors
CONFIGBOARD_ARDUINO_NANO_33_BLE_INIT_SENSORS=y 

source "Kconfig.zephyr"
